<!DOCTYPE html>
<html>
<head>
  <title>TAG!TRIP</title>
  <%= favicon_link_tag('/tagtrip.png') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("TAG!TRIP", "/posts/index") %>
        <% else %>
          <%= link_to("TAG!TRIP", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("プラン一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規プラン", "/posts/new") %>
          </li>
          <!--一旦消す-->
          <!--<li>-->
          <!--   link_to("ユーザー一覧", "/users/index") -->
          <!--</li>-->
          <li>
            <%= link_to("Logout", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("TAG!TRIPとは", "/about") %>
          </li>
          <li>
            <%= link_to("Sign up", "/signup") %>
          </li>
          <li>
            <%= link_to("Sign in", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<%= yield %>

</body>
</html>
